<div class="carousel-wrapper" dir="ltr">
  <div class="card-wrapper-single-package">
    <img
      (click)="previousNext(-1)"
      class="arrow left-arrow"
      src="../../../assets/images/left arrow.png"
      alt=""
    />

    <app-single-package
      class="slide"
      (mouseenter)="hoverOnCard(package._id)"
      style="display: flex; flex-direction: column; justify-content: center"
      *ngFor="let package of filteredItems; let i = index"
      [package]="package"
    ></app-single-package>

    <img
      (click)="previousNext(1)"
      class="arrow right-arrow"
      src="../../../assets/images/right arrow.png"
      alt=""
    />
  </div>

  <div class="dots">
    <div
      class="dot"
      *ngFor="let d of items; let i = index"
      [ngClass]="{
        'hovered-dot': i == hoveredCardIndex
      }"
    ></div>
  </div>
</div>
