@import "../../../Styles/fonts.scss";
@import "../../../Styles/sizes.scss";
.benefits-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  padding: 0 14% 0 14%;

  .benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .benefit-icon {
      width: 40px;
      // height: 40%;
    }
    .benefit-text {
      margin: 0;
      line-height: 1;
      width: 50%;
      @include useFont(19, simpler-regular);
    }
    &:hover {
      .benefit-icon {
        animation: float 1s linear;
      }
      .benefit-text {
        animation: flip 0.4s linear;
      }
    }
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(360deg);
  }
}
@include small {
  .benefits-wrapper {
    padding: 0;
    .benefit {
      grid-gap: 0 !important;
      gap: 0 !important;
    }
  }
}
