@import "./sizes.scss";
@font-face {
  font-family: "simpler-black";
  src: local("simpler-black"),
    url(../assets/fonts/simpler-black-webfont.ttf) format("truetype");
}
@font-face {
  font-family: "simpler-bold";
  src: local("simpler-bold"),
    url(../assets/fonts/simpler-bold-webfont.ttf) format("truetype");
}
@font-face {
  font-family: "simpler-regular";
  src: local("simpler-regular"),
    url(../assets/fonts/simpler-regular-webfont.ttf) format("truetype");
}

@mixin useFont($fontSizeInPixels, $fontName) {
  // font-size: calc(#{$fontSizeInPixels} * 0.05vw);
  font-size: calc(#{$fontSizeInPixels}vw / 20);
  font-family: $fontName, Arial, Helvetica, sans-serif;
  @include small {
    font-size: calc(#{$fontSizeInPixels}vw / 8) !important;
  }
  @include medium {
    font-size: calc(#{$fontSizeInPixels}vw / 15) !important;
  }
  @include large {
    font-size: calc(#{$fontSizeInPixels}vw / 24) !important;
  }
}
