@import "../../../Styles/fonts.scss";
@import "../../../Styles/colors.scss";
.card-wrapper {
  background-color: #fff;
  p {
    margin: 0;
  }
  width: 100%;
  min-width: 279px;
  height: 90%;
  border: lightgray 0.5px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: space-evenly;
  .card-header {
    height: 30%;
    text-align: center;
    position: relative;
    border-bottom: lightgray 0.5px solid;
    align-self: stretch;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .web-exclusive {
      position: absolute;
      top: -12px;
      left: 15px;

      img {
        width: 80%;
      }
      span {
        direction: rtl;
        line-height: 1;
        @include useFont(12, simpler-black);
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .package-title {
      @include useFont(22, simpler-black);
    }
    .price {
      margin: 0;
      display: flex;
      height: 40%;
      justify-content: center;
      align-items: center;
      .coin {
        // padding-left: 5px;
        @include useFont(38, simpler-bold);

        padding-top: 0.8em;
        // align-self: flex-end;
      }

      .price-value {
        // width: 23%;
        @include useFont(84, simpler-bold);
      }
      .price-decimal {
        // align-self: flex-start;
        // padding-bottom: 0.1em;
        // padding-right: 1em;
        @include useFont(70, simpler-bold);
      }
    }
    .month {
      @include useFont(20, simpler-black);
    }
    .price,
    .month {
      color: $greenColor;
    }
  }
  .black-background {
    background-image: url("../../../assets/images/package_bg_selected.png");
  }
  .white-background {
    background-image: url("../../../assets/images/package_bg.png");
  }
  .card-body {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    direction: rtl;

    .details {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 80%;
      height: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      li {
        @include useFont(20, simpler-regular);
        text-align: center;
        white-space: nowrap;
        // padding:  3% 0 3% 0 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      li:nth-child(even) {
        height: 40%;

        border-top: 0.5px solid lightgray;
        border-bottom: 0.5px solid lightgray;
        @include useFont(26, simpler-black);
      }
    }
    .web-orders {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      border: $greenColor solid 1px;
      // padding: 10%;

      width: 85%;
      height: 20%;
      .gift-icon-wrapper {
        background-color: white;
        padding: 5px;
        width: 30px;
        position: absolute;
        top: -19px;
        left: 50%;
        transform: translateX(-50%);
        .gift-icon {
          width: 100%;
        }
      }
      .title {
        @include useFont(17, simpler-regular);
      }
      .data {
        @include useFont(18, simpler-black);
        // white-space: nowrap;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
      }
    }
    .join-button {
      background-color: black;
      color: white;
      @include useFont(15, simpler-bold);
      border: 0;
      width: 80%;
      height: 12%;
      direction: ltr;
    }
  }
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: -1px -1px 37px 0px rgba(0, 0, 0, 0.75);
    .card-header {
      .package-title {
        color: white;
      }
      background-image: url("../../../assets/images/package_bg_selected.png");
      border: 0.5px solid $greenColor;
    }
    .join-button {
      color: black !important;
      cursor: pointer;

      background-color: $greenColor !important;
    }
  }
}
.black-text {
  color: black;
}
.white-text {
  color: white;
}
