@import "../../../Styles/fonts.scss";

.packages-wrapper {
  width: 100%;
  height: 100%;
  .headline {
    line-height: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-right: 17%;
    height: 12.3%;

    .name-hey {
      @include useFont(32, simpler-black);
    }
    .partner-keeps {
      @include useFont(42, simpler-black);
    }
    .connected-always {
      line-height: 44px;
      @include useFont(90, simpler-black);
    }
  }
  .app-carousel-pacakges {
    height: 64%;
  }
  footer {
    height: 19.7%;
  }
}
